<% if ENV['ALGOLIA_API_KEY'] %>
  <div class="support-search-input-wrapper">
    <%= text_field_tag "search", nil, class: "support-search-input round", placeholder: "Search documentation…" %>
  </div>
<% end %>
