<header class="page-header">
  <div class="page-header-container">
    <h1>Support</h1>

    <div class="image-align-section-bottom-wrapper">
      <%= image_tag "skylight/docs/support-monsters.svg", class: "support-monsters image-align-section-bottom" %>

      <%= render "support_search_input" %>
    </div>
  </div>
</header>
