<% if show_search? %>
  <div class="support-search-input-wrapper" role="search">
    <%= text_field_tag "search", nil, class: "support-search-input round", placeholder: "Search documentation…" %>
  </div>
<% end %>
