<p>
  Sorry to hear... here are some things to check.
</p>

<dl>
  <dt>
    The application was deployed, but the Skylight service is not
    receiving data.
  </dt>
  <dd>
    <p>
      First, ensure that the application is running with the correct Rails
      environment. By default, the agent only starts in the
      <b>production</b> environment, but this can be configured.
    </p>
  </dd>
</dl>
