body {
  padding-top: 50px;
}

pre {
  margin-top: 12px;
  margin-bottom: 12px;
}

.dw-splash.container {
  max-width: 748px;
}

.dw-masthead {
  padding: 50px 0px;
  text-align: center;
}

.dw-masthead h1 {
  font-size: 70px;
}

.dw-splash h4 {
  margin-top: 40px;
  margin-bottom: 5px;
}

.dw-splash .nav a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dw-article h2, .dw-article h3 {
  position: relative;
}

.dw-article h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.dw-article h3 {
  margin-top: 30px;
}

.dw-article blockquote {
  padding: 20px 20px;
  border-left: 5px solid #df7c7b;
  background-color: #fcf2f2;
}

.dw-article blockquote p {
  font-size: 100%;
  font-weight: normal;
}

.dw-article blockquote a {
  color: #df7c7b;
}

.dw-nav-token {
  position: absolute;
  z-index: -1000;
  top: -60px;
  width: 1px;
  height: 1px;
  background: transparent;
}

.dw-sidebar.affix {
  width: 270px;
}

.dw-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.dw-sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 4px 20px;
}

.dw-sidebar .nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30px;
  font-size: 90%;
}

.dw-sidebar .nav > .active > a {
  font-weight: 500;
  background-color: transparent;
  border-right: 1px solid #000;
}

.dw-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.dw-thumbnail {
  text-align: center;
}

.dw-thumbnail > div {
  display: inline-block;
  margin: 15px 0px 0px 0px;
}

.dw-env dt {
  width: 250px;
}

.dw-env dd {
  margin-left: 270px;
}
