@import "compass/css3/flexbox";

@mixin body-width() {
  // Long lines suck
  max-width: 500px;
}


body {
  padding-top: 50px;
}

pre {
  margin-top: 12px;
  margin-bottom: 12px;
}

.navbar-form {
  .twitter-typeahead {
    vertical-align: top;
  }
}

.tt-suggestion {
  padding: 6px 12px;
  cursor: pointer;

  &.nested {
    padding: 3px 12px 3px 24px;
    font-size: 90%;
  }
}

.tt-cursor, .tt-suggestion:hover {
  background-color: #eee;
}

ul.dw-sections {
  list-style: none;
  padding: 0;
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);

  li {
    margin: 10px;
    width: 300px;
    height: 150px;

    a {
      display: block;
      width: 300px;
      height: 150px;
      border: solid 1px #eee;
      border-radius: 4px;
      padding: 20px 30px;

      &:hover {
        text-decoration: none;
        background-color: #fafafa;
      }
    }

    &.highlight {
      a {
        background-color: lightgreen;
      }
    }
  }
}

.dw-article {
  h1 small.dw-last-updated {
    font-size: 40%;
    color: #ccc;
  }

  h2, h3, h4 {
    // For dw-nav-token
    position: relative;
  }

  h2 {
    margin-top: 80px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }

  h3 {
    margin-top: 30px;
    text-transform: uppercase;
  }

  h4 {
    margin-top: 20px;
  }

  p, ul, blockquote {
    @include body-width;
  }

  pre {
    word-break: normal;
  }
}

.dw-article blockquote {
  padding: 10px 20px;
  border-left: 5px solid #df7c7b;
  background-color: #fcf2f2;
  font-size: 12px;
}

.dw-article blockquote p {
  font-size: 100%;
  font-weight: normal;
}

.dw-article blockquote a {
  color: #df7c7b;
}

.dw-nav-token {
  position: absolute;
  z-index: -1000;
  top: -60px;
  width: 1px;
  height: 1px;
  background: transparent;
}

.dw-sidebar.affix {
  width: 270px;
}

.dw-sidebar > ul.nav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.dw-sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 4px 20px;
}

.dw-sidebar .nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30px;
  font-size: 90%;
}

.dw-sidebar .nav .nav .nav > li > a {
  padding-left: 40px;
  font-size: 80%;
}

.dw-sidebar .nav > .active > a {
  font-weight: 500;
  background-color: transparent;
  border-right: 1px solid #000;
}

.dw-footer {
  margin: 100px 0 0;
  line-height: 50px;

  .container {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .copyright {
    float: left;
  }

  .license {
    float: right;
    text-align: right;
    width: 25%;
    font-size: 80%;
    line-height: 1.4;
    padding: 10px 0;
  }
}

.dw-thumbnail {
  text-align: center;
}

.dw-thumbnail > div {
  display: inline-block;
  margin: 15px 0px;
  max-width: 100%;
}

.dw-env dt {
  width: 250px;
}

.dw-env dd {
  margin-left: 270px;
}
