---
title: Account Settings
---

Each app is owned by a specific user, and that user's credit card will pay one bill for all the apps they own.

By default, apps are owned by the user who <em>created</em> them. There is only one permissions difference between the user who owns/creates an app, and users they grant access to: that being that they <em>pay</em> for the app. 

If you've accidentally created an app in the wrong account, contact us via the in-app messenger to request a transfer.

Currently, there is no way to have invoice emails sent to alternate email addresses. Best bandage for this is to set up an auto-forwarding rule that sends the monthly email along to the accounting folk who need it.

## Billing details

We charge for Skylight based on the total number of requests per month across
all your apps.

You can use the calculator below to determine what your monthly price would
be for a given request volume.

<div class="calculator">
  <div class="slider">
    <div class="track"></div>
    <div class="track-fill"></div>
    <div class="knob">
      <div class="grip"></div>
      <div class="grip"></div>
      <div class="grip"></div>
    </div>
  </div>

  <div class="results">
    <div class="total-requests">
      <div class="value-label">Total Requests</div>
      <div class="value"></div>
    </div>
    <div class="price">
      <div class="value-label">You&rsquo;d pay</div>
      <div class="value">
        $<span class="dollar-value">60</span>.<span class="superscript">00</span>
      </div>
    </div>
  </div>

  <div class="tiers">
    <table>
      <thead>
        <tr>
          <th>Tier</th>
          <th>Included Requests</th>
          <th>Additional</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tier">
            <span class="name"></span><span class="price"></span>
          </td>
          <td class="requests"></td>
          <td class="additional">
            <span class="additional-price"></span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="10px" height="25px" viewBox="0 0 22 50" enable-background="new 0 0 22 50" xml:space="preserve">
              <path stroke-width="20" fill-rule="evenodd" clip-rule="evenodd" d="M20.142,0L22,0.789L1.859,50L0,49.211L20.142,0z"/>
            </svg>
            M
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

Skylight is free up to the first 100,000 requests. After that, pricing starts at $20 per million requests handled, and continues according to the schedule above. As you can also see, the more you need, the lower your cost per million; built-in bulk discounting.

To be clear: no plans, nothing to choose. Skylight will automatically discount additional requests for you. We're fond of simplicity.

## Adding users

Anyone with access to an app can grant access to others. You can do this on your application-specific settings page by adding the email address of the invitee. 

<%= thumbnail 'account-settings/invite.png' %>

Note that invites are currently app-specific only. If you want to grant access to multiple apps, repeat the step above on the settings page of each app.

The user will receive an invite via email. If they don't yet have a Skylight account, that email invite will include a link to sign up. Once they complete the steps, they'll see the app inside their account.

You can add unlimited users/collaborators to your app.