---
layout: splash
---
<div class="page-header">
  <h1>Skylight Documentation</h1>
  <p class="lead">Still have questions? You can always email us at <%= mail_to 'support@skylight.io' %>.</p>
</div>

<ul class="dw-sections">
  <% for section in data.outline %>
    <li data-id="<%= section.id %>">
      <% link_to section.url do %>
        <h4><%= section.title %></h4>

        <p><%= section.description %></p>
      <% end %>
    </li>
  <% end %>
</div>
