<footer class="navbar navbar-default dw-footer">
  <div class="container">
    <div class="copyright">
      <p>&copy; 2012&ndash;<%= Time.now.year %> <a href="http://www.tilde.io">Tilde Inc.</a></p>
    </div>

    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
      </a>
      <br />
      The Skylight Documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
  </div>
</footer>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "pricing-calculator" if current_page.data.pricing_calculator %>
