<footer class="navbar navbar-default dw-footer">
  <div class="container">
    <p>&copy; 2012&ndash;<%= Time.now.year %> Tilde Inc.</p>
  </div>
</footer>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "pricing-calculator" if current_page.data.pricing_calculator %>
