<!-- Docs master nav -->
<div class="navbar navbar-fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">Skylight</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Getting Started', '/getting-started' %></li>
        <li><%= link_to 'The Agent', '/agent' %></li>
        <li><%# link_to 'The App', '/app' %></li>
      </ul>
      <ul class="nav navbar-nav pull-right hidden-sm">
        <li><%= link_to "Back to Skylight", 'https://www.skylight.io/app' %></li>
      </ul>
    </div>
  </div>
</div>
