<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<!-- Use title if it's in the page YAML frontmatter -->
<title><%= current_page.data.title || "Skylight Documentation" %></title>

<%= stylesheet_link_tag "bootstrap", "docs", "syntax" %>
<%= javascript_include_tag "jquery", "bootstrap" %>
