<!doctype html>
<html>
  <head>
    <%= partial "layouts/meta" %>
  </head>
  <body>
    <%= partial "layouts/header" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= partial "layouts/footer" %>
  </body>
</html>
